<template>
  <div>
    <label
      v-if="props.label"
      class="font-bold block"
    >
      {{ props.label }}
    </label>
    <input
      :type="props.type"
      v-model="value"
      class="border w-full p-2 rounded"
      :class="props.classes"
      v-bind="$attrs"
    />
  </div>
</template>

<script setup lang="ts">
  import { computed } from 'vue'

  const props = withDefaults(defineProps<{
    label?: string | number,
    modelValue?: string | number,
    classes?: string,
    type?: string,
  }>(), {
    type: 'text',
    modelValue: ''
  })

  const emit = defineEmits<{
    (e: 'update:modelValue', value: string | number): void
  }>()

  const value = computed({
    get (): string | number {
      return props.modelValue || ''
    },
    set(val: string | number) {
      emit('update:modelValue', val);
    }
  })

</script>