<template>
  <button
    class="font-bold border p-2 rounded"
    :class="[
      props.classes,
      { 'opacity-50 pointer-events-none': props.disabled }
    ]"
    v-bind="$attrs"
    @click="emit('click')"
  >
    <slot></slot>
  </button>
</template>

<script setup lang="ts">

  const props = defineProps<{
    classes?: string,
    disabled?: boolean
  }>()

  const emit = defineEmits<{
    (e: 'click'): void
  }>()

</script>